@keyframes title-arrow-nudge {
    
    100% {
        transform: translate(4px, -50%);
    }
    
}

@keyframes scroller-arrow-left-nudge {
    
    100% {
        transform: rotate(180deg) translate(4px, 0);
    }
    
}

@keyframes scroller-arrow-right-nudge {
    
    100% {
        transform: translate(4px, 0);
    }
    
}

.nv-page-main-home {
    width: 100%;
    min-height: 100%;
}

.nv-page-main-home .nv-categories {
    display: none;
}

.nv-sections-group-ordered {
    display: flex;
    flex-direction: column-reverse;
}

.nv-category-teasers,
.nv-youtube-teasers,
.nv-section-stocks-widget
{
    margin-top: 32px;
}

.nv-sections-group-ordered .nv-category-teasers {
    margin-top: 0;
}

.nv-category-teasers-content,
.nv-widget-section-content
{
    padding: 0 24px;
}

.nv-section-special .nv-category-teasers-content,
.nv-youtube-teasers-content
{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.nv-category-teasers-title,
.nv-youtube-teasers-title,
.nv-widget-section-title
{
    font-size: 1.15em;
    margin: 0 0 24px;
    padding: 0 0 11px;
    position: relative;
}

.nv-category-teasers-title:after,
.nv-youtube-teasers-title:after,
.nv-widget-section-title:after
{
    display: block;
    content: "";
    height: 3px;
    width: 48px;
    background-color: #FFCA56;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nv-section-special .nv-category-teasers-title,
.nv-youtube-teasers-title
{
    margin: 0 0 0 24px;
    padding-right: 24px;
}

.nv-category-teasers-title > span,
.nv-category-teasers-title > a,
.nv-youtube-teasers-title > a
{
    display: inline-block;
    color: #4B6470;
    text-decoration: none;
}

.nv-category-teasers-title > a,
.nv-youtube-teasers-title > a
{
    padding-right: 14px;
    min-height: 6px;
    position: relative;
}

.nv-category-teasers-title > a:after,
.nv-youtube-teasers-title > a:after
{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url(../img/title-chevron-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nv-category-teasers-title > a:hover:after,
.nv-youtube-teasers-title > a:hover:after
{
    animation-name: title-arrow-nudge;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.nv-tradingview-stocks-section .nv-widget-section-title > span,
.nv-tradingview-stocks-section .nv-widget-section-title > a
{
    display: inline-block;
    padding-right: 22px;
    min-height: 11px;
    position: relative;
}

.nv-tradingview-stocks-section .nv-widget-section-title > span:after,
.nv-tradingview-stocks-section .nv-widget-section-title > a:after
{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(../img/help.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nv-tradingview-stocks-section .nv-widget-section-title > span:before,
.nv-tradingview-stocks-section .nv-widget-section-title > a:before
{
    content: "Cotações com atraso de 15 minutos.";
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    background-color: #4F4F4F;
    color: #ffffff;
    padding: 0 8px;
    border-radius: 4px;
    position: absolute;
    left: 100%;
    top: 50%;
    min-width: 140px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translate(10px, -50%);
    transition-property: opacity, max-height, padding;
    transition-duration: 0.3s, 0s, 0.3s;
    transition-delay: 0s, 0.3s, 0.3s;
}

.nv-tradingview-stocks-section .nv-widget-section-title > span:hover:before,
.nv-tradingview-stocks-section .nv-widget-section-title > a:hover:before,
.nv-tradingview-stocks-section .nv-widget-section-title > span:active:before,
.nv-tradingview-stocks-section .nv-widget-section-title > a:active:before
{
    max-height: 20em;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 1;
    transition-delay: 0s, 0s, 0s;
}

.nv-section-special .nv-category-teasers-body,
.nv-youtube-teasers-body
{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 24px 0;
}

.nv-section-special .nv-category-teasers-body {
    background-color: #F8F8F8;
}

.nv-section-special + .nv-section-special .nv-category-teasers-body {
    background-color: #ffffff;
}

.nv-youtube-teasers-body {
    background-color: #EBE4D5;
}

.nv-section-special .nv-category-teasers-body-content,
.nv-youtube-teasers-body-content
{
    display: inline-flex;
    align-items: stretch;
    transition: transform 0.4s;
}

.nv-article-teaser {
    margin: 24px 0 0;
}

.nv-section-featured .nv-article-teaser {
    margin: 38px 0 0;
}

.nv-section-featured .nv-article-teaser:first-of-type {
    margin: 0 0 29px;
}

.nv-section-special .nv-article-teaser,
.nv-youtube-teaser
{
    margin: 0 0 0 24px;
}

.nv-article-teaser-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 127px;
    min-height: 84px;
}

.nv-section-popular .nv-article-teaser-content {
    padding-left: 56px;
    min-height: 32px;
}

.nv-section-last-news .nv-article-teaser-content {
    min-height: 36px;
    padding-left: 64px;
}

.nv-section-special .nv-article-teaser-content,
.nv-youtube-teaser
{
    padding: 172px 0 0;
    width: 248px;
}

.nv-section-featured .nv-article-teaser-content {
    padding: 0 24px;
}

.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-content {
    padding: 0 0 22px;
    background-color: #FFCA56;
}

.nv-youtube-teaser {
    position: relative;
}

.nv-section-popular .nv-article-teaser-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 2.15em;
    line-height: 1em;
    color: #C8CDD4;
    letter-spacing: 3px;
}

.nv-section-popular .nv-article-teaser:first-child .nv-article-teaser-content:before {
    content: "01";
    color: #006BDC;
}

.nv-section-popular .nv-article-teaser:nth-child(2) .nv-article-teaser-content:before {
    content: "02";
}

.nv-section-popular .nv-article-teaser:nth-child(3) .nv-article-teaser-content:before {
    content: "03";
}

.nv-section-popular .nv-article-teaser:nth-child(4) .nv-article-teaser-content:before {
    content: "04";
}

.nv-section-popular .nv-article-teaser:nth-child(5) .nv-article-teaser-content:before {
    content: "05";
}

.nv-article-teaser-title,
.nv-youtube-teaser-title
{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
}

.nv-section-popular .nv-article-teaser-title,
.nv-section-last-news .nv-article-teaser-title
{
    font-weight: 400;
}

.nv-section-featured .nv-article-teaser-title {
    font-size: 1.08em;
}

.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title {
    font-size: 1.23em;
}

.nv-article-teaser-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 111px;
    height: 84px;
    margin: 0;
}

.nv-section-popular .nv-article-teaser-photo {
    display: none;
}

.nv-section-last-news .nv-article-teaser-photo {
    width: 47px;
    height: 36px;
}

.nv-section-special .nv-article-teaser-photo,
.nv-youtube-teaser-photo
{
    width: 248px;
    height: 155px;
}

.nv-section-featured .nv-article-teaser-photo {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 60.25%;
    margin-bottom: 14px;
    order: -2;
}

.nv-youtube-teaser-photo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.nv-youtube-teaser-photo a,
.nv-article-teaser-photo a
{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.nv-section-featured .nv-article-teaser-photo a {
    position: absolute;
    top: 0;
    left: 0;
}

.nv-article-teaser-photo img,
.nv-youtube-teaser-photo img
{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

.nv-youtube-teaser-photo img {
    width: 100%;
}


.nv-article-teaser-author,
.nv-article-teaser-category,
.nv-section-featured .nv-article-date-before,
.nv-section-featured .nv-article-date-value,
.nv-section-popular .nv-article-teaser-author .nv-article-author,
.nv-section-last-news .nv-article-teaser-author .nv-article-author
{
    display: none;
}

.nv-section-popular .nv-article-teaser-author,
.nv-section-last-news .nv-article-teaser-author,
.nv-section-featured .nv-article-teaser-author
{
    display: block;
    font-size: 0.85em;
}

.nv-section-popular .nv-article-teaser-author {
    margin: 8px 0 0;
}

.nv-section-last-news .nv-article-teaser-author {
    margin: 14px 0 0;
}

.nv-section-featured .nv-article-teaser-author {
    margin: 12px 0 0;
}

.nv-section-featured .nv-article-teaser-category {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 0 0 12px;
    order: -1;
    line-height: 1em;
}

.nv-youtube-teaser-date {
    font-size: 0.85em;
    margin: 11px 0 0;
    line-height: 1em;
}

.nv-article-date-before,
.nv-youtube-date-before
{
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    margin-right: 5px;
    color: rgba(0,0,0,0);
    background-image: url(../img/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-category,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-author
{
    padding-left: 24px;
    padding-right: 24px;
}

.nv-section-popular .nv-article-teaser .nv-article-teaser-author a,
.nv-section-last-news .nv-article-teaser .nv-article-teaser-author a
{
    color: rgba(70,81,87, 0.65);
}

.nv-category-teasers-title a,
.nv-article-teaser a,
.nv-youtube-teaser a
{
    text-decoration: none;
    border-width: 0;
}

.nv-youtube-teaser-date a {
    color: rgba(21,27,30,0.65);
}

.nv-category-teasers-title a {
    color: #4B6470;
}

.nv-article-teaser a {
    color: #505D64;
}

.nv-section-popular .nv-article-teaser a {
    color: #778B95;
}

.nv-section-special .nv-article-teaser a {
    color: #4B6470;
}

.nv-section-featured .nv-article-teaser-author a {
    color: #A5BAC5;
}

.nv-section-featured .nv-article-teaser-category a {
    color: #A0A4AA;
}

.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-category a {
    color: rgba(21,27,30,0.6);
}

.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title a {
    color: #151B1E;
}

.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-author a {
    color: rgba(21,27,30,0.75);    
}

.nv-youtube-teaser a {
    color: #151B1E;
}

.nv-article-teaser a:hover,
.nv-category-teasers-title a:hover,
.nv-youtube-teaser a:hover,
.nv-category-teasers-title > a:hover,
.nv-section-popular .nv-article-teaser .nv-article-teaser-author a:hover,
.nv-section-last-news .nv-article-teaser .nv-article-teaser-author a:hover,
.nv-youtube-teasers-title > a:hover,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-category a:hover,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title a:hover,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-author a:hover
{
    color: #0474EB;
}

.nv-article-teaser a:active,
.nv-category-teasers-title a:active,
.nv-youtube-teaser a:active,
.nv-category-teasers-title > a:active,
.nv-section-popular .nv-article-teaser .nv-article-teaser-author a:active,
.nv-section-last-news .nv-article-teaser .nv-article-teaser-author a:active,
.nv-youtube-teasers-title > a:active,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-category a:active,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title a:active,
.nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-author a:active
{
    color: #0363C8;
}

.nv-youtube-teaser-photo a {
    position: relative;
}

.nv-youtube-teaser-photo a:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-image: url(../img/youtube-play.svg), radial-gradient(closest-side at center, rgba(15,5,5,0.41) 0%, rgba(0,0,0,0) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 48px auto, contain;
}

.nv-youtube-teaser-photo a:hover:after {
    background-size: 52px auto, contain;
}

.nv-youtube-teaser-photo a:active:after {
    background-size: 44px auto, contain;
}

.nv-tradingview-stocks-widget-narrow {
    width: 100%;
    height: 606px;
}

.nv-scroller {
    position: relative;
}

.nv-scroller-bts {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    padding: 48px 0 20px;
    display: flex;
    justify-content: space-between;
}

.nv-scroller-bt-next,
.nv-scroller-bt-prev
{
    width: 0;
    pointer-events: auto;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transition-property: width, opacity;
    transition-duration: 0s, 0.3s;
    transition-delay: 0.3s, 0s;
    position: relative;
}

.nv-scroller-bt-next:before,
.nv-scroller-bt-prev:before
{
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 77px;
    background-image: url(../img/slider-chevron-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nv-scroller-bt-next:hover:before,
.nv-scroller-bt-prev:hover:before
{
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nv-scroller-bt-next:active:before,
.nv-scroller-bt-prev:active:before
{
    opacity: 0.75;
}

.nv-scroller-bt-next.nv-enabled,
.nv-scroller-bt-prev.nv-enabled
{
    width: 24px;
    opacity: 1;
    transition-delay: 0s, 0s;
}


.nv-scroller-bt-prev {
    border-right-width: 1px;
    border-right-style: solid;
}

.nv-scroller-bt-prev:before {
    right: 6px;
    transform: rotateZ(180deg);
}

.nv-scroller-bt-prev:hover:before {
    animation-name: scroller-arrow-left-nudge;
}

.nv-scroller-bt-next {
    border-left-width: 1px;
    border-left-style: solid;
}

.nv-scroller-bt-next:before {
    left: 6px;
}

.nv-scroller-bt-next:hover:before {
    animation-name: scroller-arrow-right-nudge;
}

.nv-section-special .nv-scroller-bt-prev,
.nv-section-special .nv-scroller-bt-next
{
    background-color: #F8F8F8;
    border-color: #94A4AC;
}

.nv-section-special + .nv-section-special .nv-scroller-bt-prev,
.nv-section-special + .nv-section-special .nv-scroller-bt-next
{
    background-color: #ffffff;
}


.nv-section-youtube .nv-scroller-bt-prev,
.nv-section-youtube .nv-scroller-bt-next
{
    background-color: #EBE4D5;
    border-color: #94A4AC;
}

.nv-section-newsletter {
    margin-top: 6px;
}

.nv-newsletter {
    width: 100%;
    height: 296px;
    position: relative;
}

.nv-newsletter:before {
    content: "";
    display: block;
    top: 59px;
    left: 0;
    width: 100%;
    height: 237px;
    position: absolute;
    background-image: linear-gradient(115deg, #055AB4 0%, #032D5A 100%);
}

.nv-newsletter-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/juliano-custodio.png); 
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 87px 152px 0 24px;
    color: #ffffff;
}

.nv-newsletter-title {
    font-size: 1.54em;
    margin: 0 0 13px;
}

.nv-newsletter-intro {
    font-size: 0.92em;
    margin: 0 0 16px;
}

.nv-newsletter-form {
    margin: 0;
    padding: 0;
    position: relative;
}

.nv-newsletter .nv-bt {
    display: block;
    margin-top: 13px;
    width: 184px;
}

.nv-newsletter .nv-loading .nv-bt {
    background-image: url(../img/loading-dots-blue.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.nv-newsletter .nv-bt > span {
    transition: opacity 0.3s;
}

.nv-newsletter .nv-loading .nv-bt > span {
    opacity: 0;
}

.nv-newsletter .nv-input {
    width: 184px;
}

.nv-input-error {
    display: block;
    padding: 0 12px;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 3px;
    line-height: 1.1em;
    transition-property: opacity, max-height, padding-top, padding-bottom;
    transition-duration: 0.3s;
    position: absolute;
    overflow: hidden;
    max-height: 0;
}

.nv-input-error:after {
    position: absolute;
    content: "";
    display: block;
    left: 12px;
    bottom: -6px;
    border-top: 6px solid #ff0000;
    border-right: 6px solid transparent;
    border-bottom-width: 0;
    border-left: 6px solid transparent;
}

.nv-error .nv-input-error {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 30em;
    overflow: visible;
}

.nv-newsletter .nv-input-error {
    bottom: 100%;
    width: 100%;
}

.nv-newsletter .nv-newsletter-form:after {
    content: "Seu e-mail está cadastrado!";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFCA56;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #032D5A;
    font-weight: 600;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity, max-height;
    transition-duration: 0.3s;
}

.nv-newsletter .nv-newsletter-form.nv-success:after {
    max-height: 650px;
    opacity: 1;
}

@media (min-width: 1024px) {
    
    .nv-page-main-home .nv-categories {
        display: block;
        width: 100%;
        max-width: 1225px;
        margin: 32px auto 0;
        padding: 0 24px;
        position: relative;
    }
    
    .nv-categories-content {
        padding: 0;
        margin: 0 24px;
        position: relative;
        overflow: hidden;
    }
    
    .nv-categories-list {
        padding: 0;
        min-width: 100%;
        display: inline-flex;
        align-items: center;
        margin: 0;
        transition: transform 0.4s;
    }
    
    .nv-categories-list-item {
        display: block;
        margin: 0 16px;
        white-space: nowrap;
    }
    
    .nv-categories-list-item a {
        text-decoration: none;
        color: #AEAEAE;
    }
    
    .nv-categories-list-item a:hover {
        color: #0474EB;
    }
    
    .nv-categories-list-item a:active {
        color: #0363C8;
    }
    
    .nv-categories .nv-scroller-bts {
        padding: 0 24px;
        align-items: center;
    }
    
    .nv-categories .nv-scroller-bt-prev,
    .nv-categories .nv-scroller-bt-next
    {
        width: 10px;
        height: 10px;
        border-width: 0;
        opacity: 0.2;
    }

    .nv-categories .nv-scroller-bt-prev:before,
    .nv-categories .nv-scroller-bt-next:before
    {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .nv-categories .nv-scroller-bt-prev:before,
    .nv-categories .nv-scroller-bt-next:before
    {
        animation-name: none;
    }

    .nv-categories .nv-scroller-bt-prev.nv-enabled,
    .nv-categories .nv-scroller-bt-next.nv-enabled
    {
        opacity: 0.85;
    }
    
    .nv-categories .nv-scroller-bt-prev.nv-enabled:hover:before {
        animation-name: scroller-arrow-left-nudge;
    }
    
    .nv-categories .nv-scroller-bt-next.nv-enabled:hover:before {
        animation-name: scroller-arrow-right-nudge;
    }
    
    .nv-sections-group,
    .nv-sections-group-ordered
    {
        margin: 0 auto;
        width: 100%;
        max-width: 1225px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .nv-sections-group > div:first-child {
        width: 100%;
    }
    
    .nv-sections-group > div:last-child {
        width: 393px;
        min-width: 393px;
        max-width: 393px;
    }
    
    .nv-section-featured {
        margin: 32px 0 0 0;
        padding: 0 34px 0 352px;
        position: relative;
    }
    
    .nv-section-newsletter {
        padding: 0 24px 0 4px;
    }
    
    .nv-sections-group-ordered .nv-section-ad {
        padding: 0 24px 0 4px;
    }
    
    .nv-sections-group-ordered .nv-section-ad .nv-ad-box {
        margin: 32px 0 0;
    }
    
    .nv-sections-group-ordered .nv-category-teasers {
        margin-top: 32px;
    }
    
    .nv-section-special .nv-category-teasers {
        margin-top: 36px;
    }
    
    .nv-category-teasers-content {
        width: 100%;
        max-width: 1225px;
        margin: 0 auto;
    }
    
    .nv-section-popular .nv-category-teasers-content,
    .nv-section-last-news .nv-category-teasers-content 
    {
        padding: 0 24px 0 4px;
    }
    
    .nv-section-special .nv-category-teasers-content {
        max-width: none;
        background-color: #F8F8F8;
        padding: 31px 0;
    }

    .nv-section-special + .nv-section-special .nv-category-teasers-content {
        background-color: #ffffff;
    }
    
    .nv-section-special .nv-category-teasers-body {
        margin: 0 auto;
        width: 100%;
        max-width: 1177px;
        padding-left: 24px;
    }
    
    .nv-category-teasers-body-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .nv-section-popular .nv-category-teasers-body-content,
    .nv-section-last-news .nv-category-teasers-body-content 
    {
        flex-direction: column;
    }
    
    .nv-section-special .nv-category-teasers-body-content, 
    .nv-youtube-teasers-body-content
    {
        width: auto;
    }
    
    .nv-section-special .nv-category-teasers-title,
    .nv-youtube-teasers-title
    {
        margin: 0 auto;
        width: 100%;
        max-width: 1225px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .nv-section-special .nv-category-teasers-title:after,
    .nv-youtube-teasers-title:after
    {
        left: 24px;
    }
    
    .nv-youtube-teasers-title:after {
        background-color: #909394;
    }
    
    .nv-youtube-teasers-title a {
        color: #151B1E;
    }
    
    .nv-youtube-teasers-content {
        background-color: #EBE4D5;
        padding: 32px 0 16px;
    }
    
    .nv-youtube-teasers-body {
        width: 100%;
        max-width: 1177px;
        margin: 0 auto;
    }
    
    .nv-tradingview-stocks-widget-wide {
        width: 100%;
        height: 412px;
        padding-right: 12px;
    }

    .nv-tradingview-stocks-widget-wide .tradingview-widget-copyright {
        text-align: left !important;
    }
    
    .nv-article-teaser {
        margin: 0 12px;
        flex-basis: auto;
        width: 100%;
        max-width: 155px;
    }
    
    .nv-article-teaser:first-child {
        margin-left: 0;
        width: 252px;
        min-width: 252px;
        max-width: 252px;
    }
    
    .nv-section-featured .nv-article-teaser {
        margin: 0;
        width: 100%;
        max-width: none;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type {
        position: absolute;
        left: 24px;
        top: 0;
        width: 302px;
        height: 324px;
        margin: 0;
    }
    
    .nv-section-featured .nv-article-teaser:nth-of-type(2),
    .nv-section-featured .nv-article-teaser:nth-of-type(3)
    {
        margin-bottom: 29px;
    }
    
    .nv-section-last-news .nv-article-teaser {
        margin: 24px 0 0;
        max-width: none;
    }
    
    .nv-section-popular .nv-article-teaser:first-child,
    .nv-section-last-news .nv-article-teaser:first-child 
    {
        margin-top: 0;
    }
    
    .nv-section-popular .nv-article-teaser {
        margin: 24px 0 0;
        min-width: 10px;
        max-width: 365px;
        width: 100%;
    }
    
    .nv-section-special .nv-article-teaser {
        max-width: 248px;
    }
    
    .nv-section-featured .nv-ad-box {
        position: absolute;
        left: 24px;
        top: 349px;
        width: 300px;
        height: 100px;
        margin: 0;
    }
    
    .nv-article-teaser-content {
        padding: 112px 0 0;
        width: 100%;
        min-height: 97px;
    }
    
    .nv-article-teaser:first-child .nv-article-teaser-content {
        padding: 173px 0 0;
        min-height: 158px;
    }
    
    .nv-section-featured .nv-article-teaser-content {
        padding: 0 0 0 41.38%;
        min-height: 130px;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-content {
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: flex-end;
    }
    
    .nv-section-last-news .nv-article-teaser-content,
    .nv-section-last-news .nv-article-teaser:first-child .nv-article-teaser-content
    {
        padding: 0 0 0 64px;
        min-height: 36px;
    }
    
    .nv-section-popular .nv-article-teaser-content,
    .nv-section-popular .nv-article-teaser:first-child .nv-article-teaser-content
    {
        padding: 0 0 0 67px;
        min-height: 32px;
    }
    
    .nv-article-teaser-photo {
        width: 100%;
        height: 97px;
    }
    
    .nv-article-teaser:first-child .nv-article-teaser-photo {
        width: 252px;
        height: 158px;
    }
    
    .nv-section-featured .nv-article-teaser-photo {
        width: 36.2%;
        height: 130px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-photo {
        height: 231px;
        width: 100%;
    }
    
    .nv-section-last-news .nv-article-teaser:first-child .nv-article-teaser-photo {
        width: 47px;
        height: 36px;
    }
    
    .nv-article-teaser:first-child .nv-article-teaser-title {
        font-size: 1.23em;
        line-height: 1.4em;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title,
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-author,
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-category
    {
        position: relative;
        margin: 0;
        padding-left: 21px;
        padding-right: 21px;
        width: 100%;
        background-color: #FFCA56;
        z-index: 2;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-title {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-author {
        padding-bottom: 18px;
    }
    
    .nv-section-featured .nv-article-teaser:first-of-type .nv-article-teaser-category {
        padding-top: 18px;
    }
    
    .nv-section-special .nv-article-teaser:first-child .nv-article-teaser-title,
    .nv-section-last-news .nv-article-teaser:first-child .nv-article-teaser-title,
    .nv-section-popular .nv-article-teaser:first-child .nv-article-teaser-title
    {
        font-size: 1em;
        line-height: 1.5em;
    }
    
    .nv-article-teaser:first-child .nv-article-teaser-title a {
        color: #343B3E;
    }
    
    .nv-section-last-news .nv-article-teaser:first-child .nv-article-teaser-title a {
        color: #505D64;
    }
    
    .nv-section-special .nv-article-teaser:first-child .nv-article-teaser-title a {
        color: #4B6470;
    }
    
    .nv-section-popular .nv-article-teaser:first-child .nv-article-teaser-title a {
        color: #778B95;
    }
    
    .nv-article-teaser:first-child .nv-article-teaser-title a:hover {
        color: #0474EB;
    }
    
    .nv-article-teaser:first-child .nv-article-teaser-title a:active {
        color: #0363C8;
    }
    
    .nv-section-special .nv-scroller-bts {
        padding-top: 72px;
        padding-bottom: 44px;
    }
    
    .nv-section-youtube .nv-scroller-bts {
        padding-top: 72px;
        padding-bottom: 36px;
    }
    
}

@media (min-width: 1177px) {
    
    .nv-section-special .nv-category-teasers-body {
        padding-left: 0;
    }
    
    .nv-youtube-teaser:first-child {
        margin-left: 0;
    }
    
}

@media (min-width: 1280px) {
    
    .nv-scroller-bts {
        margin: 0 auto;
        width: 100%;
        max-width: 1285px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .nv-scroller-bt-prev:before {
        right: 12px;
    }
    
    .nv-scroller-bt-next:before {
        left: 12px;
    }
    
    .nv-scroller-bt-prev.nv-enabled,
    .nv-scroller-bt-next.nv-enabled
    {
        width: 54px;
    }

    .nv-categories .nv-scroller-bt-prev.nv-enabled,
    .nv-categories .nv-scroller-bt-next.nv-enabled
    {
        width: 10px;
    }
    

    
}