.article-teaser {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 0 32px;
    position: relative;
    min-height: 88px;
}

.home-featured-posts .article-teaser,
.category-featured .article-teaser,
.article-teaser-highlight-special
{
    margin-bottom: 32px;
}

.home-featured-posts .article-teaser:first-of-type {
    padding-left: 0;
    padding-right: 0;
}

.home-featured-posts .article-teaser-hard:first-of-type,
.site-category-brand .category-featured .article-teaser:first-of-type
{
    margin-bottom: 16px;
}

.article-teaser a {
    text-decoration: none;
    color: #697177;
    border-width: 0;
}


.article-teaser a:active {
    color: #000000;
}

.home-featured-posts .article-teaser-hard,
.site-category-brand .category-featured .article-teaser:first-of-type,
.home-featured-posts .article-teaser-hard a,
.site-category-brand .category-featured .article-teaser:first-of-type a
{
    color: #ffffff;
}

.home-featured-posts .article-teaser-hard,
.site-category-brand .category-featured .article-teaser:first-of-type
{
    padding: 130px 16px 94px;
    text-shadow: 0 0 4px #000000;
    text-align: center;
}

.article-teaser-title {
    font-size: 1.15em;
    font-weight: 600;
    line-height: 1.43em;
    margin: 0 0 8px 104px;
}

.home-featured-posts .article-teaser-title,
.category-featured .article-teaser-title,
.article-teaser-highlight-special .article-teaser-title
{
    margin: 0 32px 8px 0;
}

.article-teaser-author {
    font-size: 0.86em;
    margin: 0 22px 0 104px;
}

.article-teaser-author a {
    color: #A0A1A8;
}

.home-featured-posts .article-teaser-author,
.article-teaser-highlight-special .article-teaser-author
{
    margin: 0;
}

.category-featured .article-teaser-author {
    margin: 0;
}

.article-teaser-author .article-date-before {
    display: none;
}

.article-teaser-author .article-date-day:before {
    content: "\e905";
    font-family: "ThemeIcons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: rgba(176,176,176,0.7);
    vertical-align: top;
    display: inline-block;
    margin: 0 3px;
}

.article-teaser-photo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 16px;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.home-featured-posts .article-teaser-photo,
.category-featured .article-teaser-photo,
.article-teaser-highlight-special .article-teaser-photo
{
    order: -2;
    width: 100%;
    height: 186px;
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 14px;
}

.home-featured-posts .article-teaser:first-of-type .article-teaser-photo {
    height: 216px;
}

.article-teaser-hard .article-teaser-photo:after,
.site-category-brand .category-featured .article-teaser:first-of-type .article-teaser-photo:after
{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.8) 100%);
}

.article-teaser-photo img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.article-category a {
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    border-width: 0;
}

.category-list .article-teaser .article-category {
    display: none;
}

.home-featured-posts .article-teaser .article-category,
.category-featured .article-teaser .article-category
{
    order: -1;
    margin: 0 0 12px;
}

.article-teaser-share {
    position: absolute;
    right: 16px;
    bottom: 0;
    margin: 0;
}

.article-teaser-excerpt {
    display: none;
}

.home-featured-posts .article-teaser-share,
.category-featured .article-teaser-share,
.article-teaser-highlight-special .article-teaser-share
{
    bottom: auto;
    top: 202px;
}

.category-featured .article-teaser-share {
    right: 16px;
}

.home-featured-posts .article-teaser:first-of-type .article-teaser-share {
    top: 232px;
}

.article-teaser-share .share-trigger {
    margin: 0;
    color: #C5BEBE;
    font-size: 16px;
}

.article-teaser-share .share-trigger:active {
    color: #000000;
}

.home-featured-posts .article-teaser-share .share-trigger,
.category-featured .article-teaser-share .share-trigger
{
    font-size: 16px;
}

.home-featured-posts .article-teaser .article-teaser-title {
    margin-right: 40px;
}

.home-featured-posts .article-teaser .article-teaser-title a {
    color: #004375;
}

.home-featured-posts .article-teaser .article-teaser-title a:active {
    color: #000000;
}

.home-featured-posts .article-teaser .article-teaser-author,
.article-teaser-highlight-special .article-teaser-author
{
    font-size: 0.85em;
}

.home-featured-posts .article-teaser .article-teaser-author {
    order: 2;
}

.home-featured-posts .article-teaser .article-category,
.article-teaser-highlight-special .article-category
{
    position: absolute;
    top: 16px;
    left: 32px;
    z-index: 2;    
}

.home-featured-posts .article-teaser:first-of-type .article-teaser-title,
.home-featured-posts .article-teaser:first-of-type .article-teaser-author
{
    margin-left: 16px;
    margin-right: 16px;
}

.home-featured-posts .article-teaser:first-of-type .article-category {
    left: 16px;
    z-index: 2;
}

.home-featured-posts .article-teaser:first-of-type .article-teaser-excerpt {
    display: block;
    font-size: 0.93em;
    margin: 5px 16px 12px;
    line-height: 1.5em;
}


.home-featured-posts-box,
.category-featured-box
{
    background-color: #f2f2f2;
    margin-bottom: 32px;
    width: 100%;
    padding-bottom: 1px;
}

.article-teaser-hard .article-category,
.article-teaser-hard .article-teaser-title,
.article-teaser-hard .article-teaser-author,
.site-category-brand .category-featured .article-teaser:first-of-type .article-category,
.site-category-brand .category-featured .article-teaser:first-of-type .article-teaser-title,
.site-category-brand .category-featured .article-teaser:first-of-type .article-teaser-author
{
    position: relative;
}

.home-featured-posts .article-teaser-hard:first-of-type .article-teaser-photo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.home-featured-posts .article-teaser-hard:first-of-type .article-teaser-share {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 48px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.article-teaser-hard .article-teaser-share .share-trigger {
    color: #ffffff;
}

.home-featured-posts .ad-wrapper {
    width: 100%;
    margin: 0 0 32px;
    background-color: #D9D9D9;
}

.category-featured .ad-wrapper {
    margin-bottom: 32px;
    background-color: #d9d9d9;
}

.category-featured .ad-wrapper:last-child {
    margin-bottom: 0;
}

.enable-ads .ad-home-970x250,
.enable-ads .ad-category-brand-300x600,
.enable-ads .ad-category-brand-970x250,
.enable-ads .ad-home-728x90
{
    display: none;
}

.category-list-header > h1,
.category-list-header > h2,
.category-list-header > h3,
.category-list-header > h4,
.search-results-header > h1,
.popular-list-header > h1,
.article-next-links-title
{
    width: 100%;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1em;
    color: #656D73;
    padding: 0 16px 25px 16px;
    border-bottom: 2px solid #D9DCE1;
    text-transform: uppercase;
    position: relative;
    margin: 32px 0;
}

.category-list-header > h1:after,
.search-results-header > h1:after,
.article-next-links-title:after
{
    content: "";
    display: block;
    height: 2px;
    width: 92px;
    background-color: #004375;
    position: absolute;
    top: 100%;
    left: 16px;
}


.home-categories .category-list:first-child .category-list-header > h1,
.home-categories .category-list:first-child .category-list-header > h2,
.home-categories .category-list:first-child .category-list-header > h3,
.home-categories .category-list:first-child .category-list-header > h4
{
    color: #2056A7;
    border-color: #2056A7;
}

.category-list-footer {
    padding: 0 16px;
    text-align: center;
}

.list-load-trigger {
    position: relative;
    padding-top: 32px;
    cursor: pointer;
}

.list-load-trigger:active {
    color: #000000;
}

.category-list-footer .list-load-trigger {
    margin: 0 0 30px;
}

.list-load-trigger .ic-plus,
.list-load-trigger .ic-spinner
{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 24px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.list-load-trigger .ic-spinner,
.list-load-trigger.active .ic-plus
{
    display: none;
}

.home-categories .category-list:first-child .list-load-trigger .ic-plus,
.home-categories .category-list:first-child .list-load-trigger .ic-spinner,
.home-categories .category-list:first-child .list-load-trigger .list-load-text
{
    color: #2056A7;
}

@-webkit-keyframes spin-h-center {
    0% {
        -webkit-transform: translate(-50%, 0) rotate(0);
    }
    100% {
        -webkit-transform: translate(-50%, 0) rotate(360deg);
    }
}

@keyframes spin-h-center {
    0% {
        transform: translate(-50%, 0) rotate(0);
    }
    100% {
        transform: translate(-50%, 0) rotate(360deg);
    }
}

.list-load-trigger.active .ic-spinner {
    display: inline-block;
    -webkit-animation: 1s linear infinite spin-h-center;
    animation: 1s linear infinite spin-h-center;
}

.list-load-trigger .list-load-text {
    font-size: 1em;
}

.popular-list {
    padding: 24px;
    margin: 0 16px 32px;
    background-color: #F5F7FB;
}

.popular-list-header > h1 {
    color: #656D73;
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0;
}

.popular-list-body {
    margin: 0;
    padding: 0;
}

.popular-list-body li {
    display: block;
    position: relative;
}

.popular-list-body li:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 1em;
    color: #536878;
    width: 42px;
    height: 29px;
    background-image: url(../img/old/popular-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2px 0 0 8px;
}

.popular-list-body li:first-child:after {
    color: #222222;
    content: "1";
}

.popular-list-body li:nth-child(2):after {
    content: "2";
}

.popular-list-body li:nth-child(3):after {
    content: "3";
}

.popular-list-body li:nth-child(4):after {
    content: "4";
}

.popular-list-body li:nth-child(5):after {
    content: "5";
}

.popular-list .article-teaser {
    padding: 0 0 0 104px;
    min-height: 88px;
}

.popular-list li:last-child .article-teaser {
    margin-bottom: 0;
}

.popular-list .article-category {
    display: none;
}

.popular-list .article-teaser-title {
    margin-left: 0;
    font-size: 1.07em;
    font-weight: 400;
}

.popular-list .article-teaser-author {
    margin-left: 0;
    margin-right: 0;
    padding-right: 24px;
}

.popular-list .article-date-day {
    display: none;
}

.popular-list .article-teaser-share {
    bottom: -3px;
    top: auto;
    right: 0;
}

.popular-list .share-trigger .ic-share {
    font-size: 16px;
}

.popular-list .article-teaser-photo {
    left: 0;
}

.category-featured-title {
    line-height: 1.4em;
    font-weight: 600;
    font-size: 1.15em;
    margin: 0 0 24px;
    padding-top: 24px;
    text-align: center;
    text-transform: uppercase;
}

.search-no-results {
    text-align: center;
    padding: 0;
}

.search-no-results h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    margin: 54px 0 42px;
}

.category-list-scroller {
    margin-bottom: 32px;
}

.category-list-scroller .category-list-header {
    position: relative;
}

.category-list-scroller .category-list-body {
    overflow: hidden;
    width: 100%;
    height: 321px;
    position: relative;
}

.category-list-scroller .category-list-track {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 16px;
    transform: translate(0, 0);
    transition: transform 0.4s;
}

.category-list-scroller .article-teaser {
    margin: 0 16px;
    min-width: 264px;
    width: 264px;
    max-width: 264px;
    height: 321px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.category-list-scroller .article-teaser-title,
.category-list-scroller .article-teaser-author
{
    width: 100%;
    background-color: rgba(0,0,0,0.45);
    margin: 0;
}

.category-list-scroller .article-teaser-title a,
.category-list-scroller .article-teaser-author a
{
    color: #ffffff;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-list-scroller .article-teaser-title a {
    height: 2.8em;
}

.category-list-scroller .article-teaser-author a {
    white-space: nowrap;
    height: 1.35em;    
}

.category-list-scroller .article-teaser-title {
    order: 2;
    padding: 16px 44px 24px 24px;
    z-index: 2;
}

.category-list-scroller .article-teaser-author {
    font-size: 0.9em;
    padding: 24px 24px 12px 24px;
    position: relative;
    z-index: 3;
}

.category-list-scroller .article-teaser-share {
    z-index: 4;
    bottom: 16px;
    right: 16px;
}

.category-list-scroller .article-date-day {
    display: none;
}

.category-list-scroller .article-teaser-author:before {
    content: "";
    display: block;
    width: 72px;
    height: 3px;
    background-color: #FFBF25;
    position: absolute;
    bottom: -3px;
}

.category-list-scroller .article-teaser-photo {
    width: 100%;
    height: 100%;
    left: 0;
}

.category-list-bt-next, .category-list-bt-prev {
    display: block;
    width: 18px;
    height: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -3px;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: 0s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.category-list-bt-next.nv-bt-visible, .category-list-bt-prev.nv-bt-visible {
    height: 18px;
    opacity: 1;
    transition-delay: 0s, 0s;
}

.category-list-bt-next {
    right: 16px;
    background-image: url(../img/old/chevron-circle-right.svg);
}

.category-list-bt-prev {
    right: 56px;
    background-image: url(../img/old/chevron-circle-left.svg);
}

@media (min-width: 1024px) {
    
    .site-home,
    .site-category,
    .site-author,
    .site-search
    {
        font-size: 1em;
    }
    
    .home-featured-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1202px;
        margin: 32px auto 16px;
        padding: 0 16px;
    }
    
    .home-featured-posts {
        width: 100%;
        padding: 0 32px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .home-featured-aside-01,
    .home-featured-aside-02
    {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
    }
    
    .home-featured-aside-01 {
        order: -1;
    }
    
    .home-featured-aside-02 .ad-home-300x250 {
        margin-bottom: 32px;
    }
    
    .home-featured-aside-02 .ad-300x250 {
        display: block;
    }

    .site-category-brand .category-featured
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1202px;
        padding: 43px 16px 0;
        margin: 0 auto;
    }

    .enable-ads .category-featured-box {
        margin-bottom: 0;
    }

    .enable-ads .ad-home-970x250,
    .enable-ads .ad-category-brand-970x250,
    .enable-ads .ad-home-728x90
    {
        display: block;
        width: 100%;
        height: 250px;
        background-color: #D9D9D9;
        margin-bottom: 35px;
    }

    .ad-970x250 {
        width: 970px;
        height: 250px;
    }

    .enable-ads .ad-category-brand-300x600 {
        display: block;
    }

    .ad-300x600 {
        width: 300px;
        height: 600px;
    }

    .enable-ads .ad-home-728x90 {
        height: 90px;
    }

    .home-sections, .category-sections {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        width: 100%;
        max-width: 1202px;
        margin: 0 auto;
    }

    .home-asides, .category-asides {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        margin-left: 48px;
    }

    .article-teaser {
        margin: 0 0 32px;
        padding: 0 32px 0 168px;
        min-height: 152px;
        width: 33%;
    }

    .article-teaser-title {
        margin: 0 16px 9px 0;
        font-size: 1.125em;
        line-height: 1.44em;
        order: -2;
    }

    .article-teaser-author {
        font-size: 0.875em;
        margin: 0;
    }

    .article-teaser-photo {
        width: 152px;
        height: 152px;
        left: 0;
    }

    .article-teaser-share {
        bottom: auto;
        top: 3px;
        right: 24px;
    }

    .category-list .article-teaser .article-category {
        order: -3;
        margin: 0 0 12px;
    }

    .article-teaser-excerpt {
        order: -1;
        font-size: 0.95em;
        line-height: 1.43em;
        margin: 0 0 12px;
        display: block;
        color: #707070;
    }

    .home-featured-posts .article-teaser {
        width: 50%;
        padding: 0 16px 0 0;
    }

    .home-featured-posts .article-teaser:nth-child(odd) {
        padding-left: 16px;
        padding-right: 0;
    }

    .article-teaser-highlight-special .article-category,
    .home-featured-posts .article-teaser .article-category {
        left: 16px;
    }

    .home-featured-posts .article-teaser:nth-child(odd) .article-category {
        left: 32px;
    }

    .home-featured-posts .article-teaser .article-teaser-title {
        order: -1;
        margin-right: 24px;
    }

    .home-featured-posts .article-teaser-photo {
        height: 159px;
        margin-bottom: 16px;
    }

    .home-featured-posts .article-date-day {
        display: none;
    }

    .home-featured-posts .article-teaser-share {
        bottom: auto;
        right: 0;
        top: 178px;
        display: block;
    }
    
    .home-featured-posts .article-teaser:nth-child(even) .article-teaser-share {
        right: 16px;
    }

    .enable-ads .home-featured-posts .ad-wrapper,
    .enable-ads .category-featured .ad-category-brand-300x250,
    .enable-ads .category-featured .ad-home-300x250
    {
        display: none;
    }

    .home-featured-posts .article-teaser:first-of-type {
        width: 100%;
        min-height: 336px;
        padding-top: 336px;
    }

    .home-featured-posts .article-teaser:first-of-type .article-teaser-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 336px;
        margin: 0;
    }

    .home-featured-posts .article-teaser:first-of-type .article-teaser-title,
    .site-category-brand .category-featured .article-teaser:first-of-type .article-teaser-title
    {
        font-size: 1.125em;
        line-height: 1.33em;
        margin: 16px 24px 16px 0;
    }

    .home-featured-posts .article-teaser:first-of-type .article-teaser-author,
    .site-category-brand .category-featured .article-teaser:first-of-type .article-teaser-author
    {
        margin: 0;
    }

    .home-featured-posts .article-teaser:first-of-type .author-name,
    .site-category-brand .category-featured .article-teaser:first-of-type .author-name
    {
        font-weight: bold;
    }

    .home-featured-posts .article-teaser:first-of-type .article-date-day,
    .site-category-brand .category-featured .article-teaser:first-of-type .article-date-day
    {
        display: inline-block;
    }

    .home-featured-posts .article-teaser:first-of-type .article-date-day:before,
    .site-category-brand .category-featured .article-teaser:first-of-type .article-date-day:before
    {
        margin: 0 8px;
    }
    
    .home-featured-posts .article-teaser-excerpt {
        display: none;
    }
    
    .home-featured-posts .article-teaser:first-of-type .article-teaser-excerpt {
        margin: 0 0 16px;
    }

    .home-featured-posts .article-teaser:first-of-type .article-teaser-share {
        top: 354px;
        bottom: auto;
        right: 0;
        display: block;
    }

    .category-list-header > h1,
    .category-list-header > h2,
    .category-list-header > h3,
    .category-list-header > h4,    
    .popular-list-header > h1,
    .search-results-header > h1,
    .article-next-links-title
    {
        font-size: 0.875em;
        padding-left: 0;
    }
    
    .category-list-header > h1:after,
    .search-results-header > h1:after,
    .article-next-links-title:after
    {
        left: 0;
    }
    
    .enable-ads .ad-home-728x90 + .category-sections .category-list-header h1,
    .enable-ads .ad-home-728x90 + .category-sections .category-list-header h2,
    .enable-ads .ad-home-728x90 + .category-sections .category-list-header h3,
    .enable-ads .ad-home-728x90 + .category-sections .category-list-header h4
    {

        margin-top: 0;
    }
    
    .category-more {
        width: 100%;
    }
    
    .article-teaser-highlight-special {
        padding: 0;
        width: 100%;
        margin-bottom: 32px;
    }
    
    .article-teaser-highlight-special .article-teaser-title {
        margin-right: 24px;
    }
    
    .article-teaser-highlight-special .article-teaser-photo {
        order: -3;
        height: 183px;
    }
    
    .article-teaser-highlight-special .article-teaser-share {
        right: 0;
    }
    
    .popular-list {
        margin-left: 0;
        margin-right: 0;
    }
    
    .popular-list .article-teaser {
        width: 100%;
        margin-bottom: 32px;
    }
    
    .popular-list .article-teaser-photo {
        width: 88px;
        height: 88px;
    }
    
    .popular-list .article-teaser-title {
        font-size: 0.96em;
        margin-right: 0;
    }
    

    .category-list-header > h1:before,
    .category-list-header > h2:before,
    .category-list-header > h3:before,
    .category-list-header > h4:before,    
    .search-results-header > h1:before
    {
        top: 100%;
        left: 100%;
        height: 4px;
    }
    
    .category-list-body {
        display: flex;
        flex-wrap: wrap;
    }


    .category-list-footer {
        padding: 0;
        text-align: left;
    }

    .list-load-trigger {
        padding: 0 0 0 34px;
    }

    .category-list-footer .list-load-trigger {
        padding-top: 0.3em;
        margin-bottom: 32px;
    }

    .list-load-trigger .ic-plus, .list-load-trigger .ic-spinner {
        left: 12px;
        top: -1px;
    }


    .home-featured-posts-box-hard .home-featured-posts .article-teaser:nth-child(n + 3) .article-teaser-photo,
    .site-category-brand .category-featured .article-teaser:nth-child(n + 3) .article-teaser-photo
    {
        margin-bottom: 0;
    }

    .site-category-brand .category-featured .article-teaser:nth-child(n + 3) .article-teaser-title
    {
        font-size: 1em;
        text-align: center;
        margin-bottom: 16px;
        margin-right: 0;
    }

    .home-featured-posts-box-hard .home-featured-posts .article-teaser:nth-child(n + 3) .article-teaser-author,
    .site-category-brand .category-featured .article-teaser:nth-child(n + 3) .article-teaser-author
    {
        margin-right: 0;
        text-align: center;
    }

    .home-featured-posts-box-hard .home-featured-posts .article-teaser:nth-child(n + 3) .article-teaser-share,
    .site-category-brand .category-featured .article-teaser:nth-child(n + 3) .article-teaser-share
    {
        bottom: 0;
        top: auto;
        right: auto;
        left: 50%;
        margin-left: -12px;
    }

    .category-featured {
        padding: 101px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }

    .category-featured-title {
        font-size: 1.46em;
        text-align: left;
        padding: 0 16px;
        width: 100%;
        max-width: 1202px;
        margin: 0;
        position: absolute;
        top: 35px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .category-featured .article-teaser {
        width: 25%;
        max-width: 300px;
        padding: 0 16px;
        min-height: 167px;
    }

    .category-featured .article-teaser-title {
        order: -1;
        font-size: 1em;
        margin-right: 24px;
    }
    
    .category-list-scroller {
        margin-bottom: 8px;
    }
    
    .category-list-scroller .category-list-header {
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1202px;
    }
    
    .category-list-scroller .article-teaser-share {
        top: auto;
    }

    .site-search {
        width: 100%;
        padding: 0 16px;
        max-width: 1202px;
        margin: 0 auto;
    }


}
