.article .article-cols-main > .content-pad {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}

.article .article-headline {
    font-family: "Roboto", sans-serif;
    font-size: 1.43em;
    font-weight: 600;
    color: #0d3d56;
    margin: 24px 0;
    order: -2;
    
}

.article .article-category {
    order: -4;
}

.article .article-share {
    order: -3;
}

.article .article-author {
    order: -1;
}

.article-category {
    overflow: hidden;
    max-width: 82%;
    margin: 0;
}

.article-share {
    position: absolute;
    right: 16px;
    color: #A59E9E;
}

.article-share .share-trigger {
    margin: 0;
    line-height: 1em;
}

.article-share .share-trigger > span {
    display: none;
}

.article-share .ic-share {
    font-size: 23px;
}

.article .article-author {
    padding: 0 0 0 48px;
    position: relative;
    min-height: 40px;
    display: block;
    margin: 0 0 24px;
}

.article-author .author-avatar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.author-avatar img {
    min-width: 100%;
    min-height: 100%;
}

.article .article-author {
    font-size: 0.93em;
    color: #8C8C8C;
    padding-top: 2px;
    margin-bottom: 32px;
}

.article .article-author .author-name {
    font-weight: 400;
    display: inline-block;
}

.article .article-author .author-name a {
    color: #8C8D8F;
    border-bottom: 1px dashed #8C8D8F;
}

.article .article-author .author-name a:active {
    color: #000000;
    border-bottom-color: #000000;
}

.article .article-date {
    display: block;
    margin-top: 4px;
}

.article .article-date-before:before {
    content: "Publicado ";
}

.article .article-lead {
    margin: 0 0 24px;
    line-height: 1.6em;
    font-style: italic;
}

.author-description {
    position: absolute;
    color: #fbfbfb;
    background-color: #1e1e1e;
    padding: 16px;
    border: solid transparent;
    width: 284px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.33em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 3px 4px rgba(0,0,0,.2);
    opacity: 0;
    -webkit-transform: translate(-999em, -100%);
    transform: translate(-999em, -100%);
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.author-description.visible {
    max-height: 1024px;
    opacity: 1;
    overflow: visible;
    z-index: 5;
    margin-top: -8px;
    -webkit-transform: translate(-16px, -100%);
    transform: translate(-16px, -100%);
}

.author-description.visible:after {
    content: "";
    display: block;
    top: 100%;
    left: 19px;
    position: absolute;
    border-top: 16px solid #1e1e1e;
    border-right: 12px solid transparent;
    border-bottom-width: 0;
    border-left: 12px solid transparent;
}

.author-description dl,
.author-description dt,
.author-description dd
{
    margin: 0;
    padding: 0;
}

.author-description-links-values {
    font-size: 19px;
}

.article .article-body-content {
    line-height: 1.6em;
    padding-bottom: 16px;
    font-size: 1.2em;
}

.article .article-body-content:after {
    content: "";
    display: block;
    clear: both;
}

.article .article-body-content > p,
.article .article-body-content > div,
.article .article-body-content > h1,
.article .article-body-content > h2,
.article .article-body-content > h3,
.article .article-body-content > h4,
.article .article-body-content > h5,
.article .article-body-content > h6,
.article .article-body-content > table,
.article .article-body-content > section,
.article .article-body-content > aside
{
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
}

.article .article-body-content > h2,
.article .article-body-content > h3,
.article .article-body-content > h4,
.article .article-body-content > h5,
.article .article-body-content > h6
{
    font-family: "Roboto", sans-serif;
    line-height: 1.33em;
    margin-bottom: 1.71em;
    margin-top: 2.28em;
}

.article .article-body-content > h2 {
    font-size: 1.14em;
    color: #004375;
}

.article .article-body-content > h3,
.article .article-body-content > h4,
.article .article-body-content > h5,
.article .article-body-content > h6
{
    font-size: 1.07em;
    color: #697177;
}

.article .article-body-content p {
    margin: 0 0 1.7em;
}

.article .article-body-content img {
    max-width: 100%;
}

.article .article-body-content > ol,
.article .article-body-content > ul 
{
    padding: 0;
    margin: 0 0 1.7em;
}

.article .article-body-content > ol > li,
.article .article-body-content > ul > li
{
    display: block;
    position: relative;
    padding: 0 16px;
    margin-top: 0.86em;
    background-image: url(../img/old/marker-blue.svg);
    background-repeat: no-repeat;
    background-position: -31px 0.6em;
}

.article .article-body-content > ol:nth-of-type(even) > li,
.article .article-body-content > ul:nth-of-type(odd) > li 
{
    background-image: url(../img/old/marker-yellow.svg);
}

.article .article-body-content li:first-child {
    margin-top: 0;
}

.article .article-body-content .wp-block-embed {
    margin-left: 16px;
    margin-right: 16px;
}

.article .article-body-content iframe,
.article .article-body-content .wp-block-embed-youtube,
.article .article-body-content .wp-block-embed-youtube iframe
{
    max-width: 100%;
}

.article .article-body-content .wp-block-embed-youtube {
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.article .article-body-content .nv-embed-youtube {
    position: relative;
    width: 100%;
    padding-top: 56.2%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article .article-body-content .nv-embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article .article-body-content .article-text-cta-link {
    border-width: 0;
    color: #000000;
    background-color: #FFCA4A;
    padding: 2px 6px;
    border-radius: 3px;
}

.article .article-body-content .article-text-cta-link.shortc-button {
    color: #ffffff;
    background-color: #edae44;
    padding: 12px 24px;
}

.article .article-body-content .article-text-cta-link:active {
    color: #ffffff;
    background-color: #1869B0;
}

.article .article-featured-photo {
    margin: 0 0 16px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.article .article-body-content > .article-featured-photo {
    padding-left: 0;
    padding-right: 0;
}

.article .article-featured-photo:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.82);
}

.article .article-featured-photo figure {
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 225px 0 0;
    overflow: hidden;
}

.article .article-featured-photo img {
    max-height: 225px;
    max-width: 100%;
    position: absolute;
    top: 112px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.article .article-featured-photo figcaption {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 16px 0 41px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 16px 10px;
    background-image: url(../img/old/camera.svg);
    border-top: 1px solid #DDDDDD;
    font-size: 0.86em;
    color: #A6A6A6;
    line-height: 1.33em;
    text-align: left;
    
}

.article .article-featured-photo figcaption p {
    margin: 0;
}

.article .article-body-content > .ad-wrapper {
    width: 100%;
    height: 250px;
    margin-bottom: 24px;
    padding: 0;
}

#ez-toc-container {
    margin-left: 16px;
    margin-right: 16px;
}

img[class*="wp-image-"] {
    width: auto;
    height: auto;
}

.article-cols-aside .external-widget {
    margin: 32px 0;
}
.article-cols-aside .ad-wrapper{
    display: none;
}

.article-body-content .wp-caption a {
    border-bottom-width: 0;
}


@media (min-width: 1024px) {

    .site-article > .content-block {
        max-width: 100%;
    }
    
    .article-cols-main > .content-pad {
        padding: 32px 0;
        font-size: 0.79em;
    }

    .article .article-headline,
    .article .article-lead,
    .article .article-author,
    .article .article-share
    {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1024px;
    }

    .article .article-headline {
        font-size: 2em;
        line-height: 1.32em;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .article .article-lead {
        order: -2;
    }

    .article .article-author {
        order: -1;
        max-width: 1170px;
        text-align: left;
        font-size: 1.25em;
        min-height: 32px;
        margin-bottom: 0;
    }

    .article-author .author-avatar {
        width: 32px;
        height: 32px;
    }

    .article-author .article-date {
        display: inline-block;
    }

    .article-author .article-date:before {
        content: "\e905";
        font-family: "ThemeIcons" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        color: rgba(151,151,151,0.7);
        vertical-align: middle;
        display: inline-block;
        margin: 0 6px;
    }

    .article-author .article-date .article-date-before {
        display: none;
    }

    .author-avatar img {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        min-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .article .article-share {
        position: relative;
        right: auto;
        top: -1.8em;
        bottom: auto;
        left: auto;
        order: 1;
        text-align: right;
        max-width: 1170px;
        z-index: 1;
    }

    .article .article-share .share-trigger {
        width: auto;
        position: absolute;
        right: 0;
    }

    .article .article-share .ic-share {
        font-size: 23px;
        margin-left: 8px;
    }

    .article-cols {
        margin: 0 auto 32px;
        padding: 0 16px;
        width: 100%;
        max-width: 1202px;
        display: flex;
        justify-content: space-between;
    }

    .article .article-body-content,
    .article.article-with-thumbnail .article-body-content
    {
        margin-top: 0;
        font-size: 1.25em;
    }

    .article .article-cols-main {
        width: 100%;
    }

    .article.article-with-thumbnail .article-cols-main {
        padding-top: 0;
    }

    .article .article-cols-aside {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        margin-left: 32px;
        margin-top: 32px;
    }

    .article-cols-aside .ad-wrapper{
        display: block;
    }

    .no-header-ticker .article .article-cols-aside {
        padding-top: 32px;
    }

    .article .article-featured-photo {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 24px;
    }

    .article .article-featured-photo figure {
        padding-top: 370px;
    }

    .article .article-featured-photo img {
        max-height: 370px;
        top: 185px;
    }
    
    .article .article-featured-photo figcaption {
        font-size: 0.875em;
        padding-left: 25px;
        background-position: 0 11px;
    }

    .article .article-body-content > p,
    .article .article-body-content > ol,
    .article .article-body-content > ul,
    .article .article-body-content > div,
    .article .article-body-content > h1,
    .article .article-body-content > h2,
    .article .article-body-content > h3,
    .article .article-body-content > h4,
    .article .article-body-content > h5,
    .article .article-body-content > h6,
    .article .article-body-content > table,
    .article .article-body-content > section,
    .article .article-body-content > aside
    {
        padding-left: 0;
        padding-right: 0;
    }

    .article .article-body-content {
        padding-bottom: 32px;
        padding-top: 0;
    }

    .article .article-body-content p {
        margin-bottom: 0.87em;
    }
    
    .article .article-body-content > ol > li, 
    .article .article-body-content > ul > li,
    .article .article-body-content > ol:nth-of-type(odd) > li, 
    .article .article-body-content > ul:nth-of-type(odd) > li
    {
        padding-left: 0;
        background-image: none;
        position: relative;
    }
    
    .article .article-body-content > ol > li:before, 
    .article .article-body-content > ul > li:before
    {
        content: "";
        display: block;
        width: 42px;
        height: 6px;
        background-image: url(../img/old/marker-yellow.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0.65em;
        right: 100%;
        transform: translate(-6px, 0);
    }
    
    
    .article .article-body-content > ol:nth-of-type(odd) > li:before, 
    .article .article-body-content > ul:nth-of-type(odd) > li:before
    {
        background-image: url(../img/old/marker-blue.svg);
    }

    .article .article-body-content .wp-block-embed {
        margin-left: 0;
        margin-right: 0;
    }
    
    .article .article-body-content .wp-block-embed.alignleft {
        float: left;
        width: auto;
        margin-right: 16px;
    }
    
    .article .article-body-content .wp-block-embed.alignright {
        float: right;
        width: auto;
        margin-left: 16px;
    }
    
    .article .article-body-content .wp-block-embed-youtube {
        padding-left: 0;
        padding-right: 0;
    }

    .article .article-body-content .wp-block-embed.alignleft .nv-embed-youtube,
    .article .article-body-content .wp-block-embed.alignright .nv-embed-youtube
    {
        width: 500px;
    }
    
    .enable-ads .ad-catfish-wrapper {
        display: none;
    }

    .article-cols-aside .ad-wrapper {
        margin-bottom: 32px;
    }

    .article-cols-aside .ad-slot-col-right-01 {
        width: 300px;
        height: 250px;
        display: block;
    }

    .article-cols-aside .ad-slot-col-right-02 {
        width: 300px;
        height: 600px;
        display: block;
    }

    .article-cols-aside .sticky-active {
        top: 117px;
    }

    .author-description {
        text-align: left;
    }

    .sticky.sticky-active {
        position: fixed;
    }
    
    .article-next-links-body {
        display: flex;
        flex-wrap: wrap;
    }
    
    .article-next-links .article-teaser {
        width: 50%;
    }
    
    #ez-toc-container {
        margin-left: 0;
    }


}
